code/consolemain/bin/Debug/net8.0/consolemain.dll
code/consolemain/bin/Debug/net8.0/consolemain.exe
code/consolemain/bin/Debug/net8.0/consolemain.pdb
code/consolemain/obj/Debug/net8.0/apphost.exe
code/consolemain/obj/Debug/net8.0/consolemain.dll
code/consolemain/obj/Debug/net8.0/consolemain.pdb
code/consolemain/obj/Debug/net8.0/ref/consolemain.dll
code/consolemain/obj/Debug/net8.0/refint/consolemain.dll
